
<li>
  <%= comment.user.email %>
  <%= comment.content %>

  <% if comment_deletable?(comment, current_user) %>
    <%= link_to post_comment_path(@post, comment), method: :delete do%>
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
  <% end %>
</li>
