
<ul>
  <li>图片  link_to '图片', post_path </li>
  <li>用户名   link_to '用户', user_path </li>
  <li>图片名</li>
  <li>喜欢数目</li>
  <li>评价数目</li>
</ul>


<div class="row">

  <% @posts.each do |p|  %>
    <div class="col-md-4">
      <%= link_to p do %>
        <%= image_tag p.picture %>
      <% end %>
      <%= render 'post_user', post_user: p.user %>
      <%= p.description %><br>
      <div class="row">
        <i class="fa fa-heart" aria-hidden="true">999</i>
        <i class="fa fa-comment-o" aria-hidden="true">999</i>
      </div>
    </div>

  <% end %>
</div>
