
<ul>
  <li>图片  link_to '图片', post_path </li>
  <li>用户名   link_to '用户', user_path </li>
  <li>图片名</li>
  <li>喜欢数目</li>
  <li>评价数目</li>
</ul>

<%= render 'common/picture_wall', posts: @posts %>

<!-- 第二种格式 -->
<div class="col-md-6 col-lg-4">
  <div class="card card-blog card-rotate">
  	<div class="rotating-card-container">
  		<div class="card-image">
  			<div class="front">
  				<img class="img" src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgguabokp6j30go0b4tdo.jpg"/>
  			</div>

  			<div class="back back-background">
  				<div class="card-content">
  					<h5 class="card-title">
  						Share this article...
  					</h5>
  					<p class="card-description">
  						You can share this article with your friends, family or on different networks...
  					</p>
  					<div class="footer text-center">
  						<a href="#pablo" class="btn btn-just-icon btn-round btn-white btn-twitter">
  							<i class="fa fa-twitter"></i>
  						</a>
  						<a href="#pablo" class="btn btn-just-icon btn-round btn-white btn-pinterest">
  							<i class="fa fa-pinterest"></i>
  						</a>
  						<a href="#pablo" class="btn btn-just-icon btn-round btn-white btn-facebook">
  							<i class="fa fa-facebook"></i>
  						</a>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>

  	<div class="card-content">
  		<h4 class="card-title">
  			<a href="#pablo">This card has an image that is rotating!</a>
  		</h4>
  		<p class="card-description">
  			Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye...
  		</p>
  		<div class="footer">
              <div class="author">
                  <a href="#pablo">
                     <img src="assets/img/faces/camp.jpg" alt="..." class="avatar img-raised">
                     <span>Lora Camp</span>
                  </a>
              </div>
             <div class="stats">
  			   <i class="material-icons">favorite</i> 142 &middot;
  			   <i class="material-icons">chat_bubble</i> 45
              </div>
          </div>
  	</div>
  </div>
</div>
