<h2> 上传图片 </h2>

<%= simple_form_for @post do |f| %>

  <div class="group">
    <%= f.input :picture, as: :file %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
