<h2> 发布作品 </h2>

<form novalidate="novalidate" class="simple_form new_post" id="new_post" enctype="multipart/form-data" action="/posts" accept-charset="UTF-8" method="post"> <input name="utf8" type="hidden" value="✓"> <input type="hidden" name="authenticity_token" value="Lvxr5HOfk9ivGWKXeLAguGFfR6N60RfcNQu98IMXzzl1RLVbuUx6ZWrznAEe12C+yBEThwl6nn5g3DaMiqwwJA==">

  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
     <div class="fileinput-new img-raised thumbnail btn-file">
      <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fi7m092u9qj30m80gogmj.jpg" alt="...">
     </div>
     <div class="fileinput-preview fileinput-exists img-raised thumbnail"></div>

     <div>
      <textarea class="form-control" placeholder="请输入作品描述" rows="2" name="post[description]" style="margin-top: 5px;"></textarea>
    	<span class="btn btn-raised btn-round btn-default btn-file">
    	   <span class="fileinput-new">请选择作品</span>
    	   <span class="fileinput-exists">更改</span>
    	   <input type="file" name='post[picture]' accept="image/jpeg image/jpg image/png"/>
    	</span>
      <button type="submit" name="commit" data-disable-with="Submitting..." class="btn btn-danger btn-round fileinput-exists">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
       提交
      </button>
     </div>
  </div>

</form>





----------需要处理的内容在下方---------------

<%= simple_form_for @post do |f| %>
  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
     <div class="fileinput-new img-raised btn-file">
      <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fi7m092u9qj30m80gogmj.jpg" alt="...">
     </div>
     <div class="fileinput-preview fileinput-exists img-raised"></div>

     <div>
      <%= f.input :description, label: false, placeholder: "请输入作品描述", row: '2', style: 'margin-top: 5px;' %>

<!-- ---------要修改的内容----------- -->
      <%= f.input :picture, as: :file %>

<!-- ---------目标样式------------- -->
      <!-- <span class="btn btn-raised btn-round btn-default btn-file">
         <span class="fileinput-new">请选择作品</span>
         <span class="fileinput-exists">更改</span>
         <input type="file" name='post[picture]' accept="image/jpeg image/jpg image/png"/>
      </span> -->

      <button type="submit" name="commit" data-disable-with="Submitting..." class="btn btn-danger btn-round fileinput-exists">
        <!-- <i class="fa fa-paper-plane" aria-hidden="true"></i>   -->
       提交
      </button>
     </div>
  </div>
<% end %>
------------需要处理的内容在上方--------------
