// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.masonry-block {
  display: inline-block;
  width: 45%;
  // height: 200px;
  padding: 10px;
  margin: 10px;
}
