<% @posts.each do |p|  %>

  <!-- 第二种格式 -->
  <%= link_to p do %>
  <div class="col-md-6 col-lg-4">
    <div class="card card-blog card-rotate">
    	<div class="rotating-card-container">
    		<div class="card-image">
    			<div class="front">
    				<!-- <img class="img" src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgguabokp6j30go0b4tdo.jpg"/> -->
            <%= image_tag p.picture %>
    			</div>

    			<div class="back back-background">
    				<div class="card-content">
    					<h5 class="card-title">
    						Share this article...
    					</h5>
    					<p class="card-description">
    						You can share this article with your friends, family or on different networks...
    					</p>
    					<div class="footer text-center">
    						<!-- <a href="#pablo" class="btn btn-just-icon btn-round btn-white btn-twitter">
    							<i class="fa fa-twitter"></i>
    						</a>
    						<a href="#pablo" class="btn btn-just-icon btn-round btn-white btn-pinterest">
    							<i class="fa fa-pinterest"></i>
    						</a>
    						<a href="#pablo" class="btn btn-just-icon btn-round btn-white btn-facebook">
    							<i class="fa fa-facebook"></i>
    						</a> -->
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
      <% end %>

    	<div class="card-content">
    		<h4 class="card-title">
          <%= p.description %>
    			<!-- <a href="#pablo">This card has an image that is rotating!</a> -->
    		</h4>
        <%= render 'common/post_user', post_user: p.user, post: p %>
    	</div>
    </div>
  </div>

<% end %>
