<div class="masonry-container">

<% @posts.each do |p|  %>
  <%= link_to p do %>
  <div class="masonry-block">
    <div class="card card-blog card-rotate">
    	<div class="rotating-card-container">
    		<div class="card-image">
    			<div class="front">
            <%= image_tag p.picture %>
    			</div>

    			<div class="back back-background">
    				<div class="card-content">
    					<h5 class="card-title">
    						Share this article...
    					</h5>
    					<p class="card-description">
    						You can share this article with your friends, family or on different networks...
    					</p>
    					<div class="footer text-center">
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
      <% end %>

    	<div class="card-content">
        <%= p.description %>
    		<h4 class="card-title">
    		</h4>
        <%= render 'common/post_user', post_user: p.user, post: p %>
    	</div>
    </div>
  </div>
<% end %>

</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
  $('div.masonry-container').masonry({
    columnWith: 'div.masonry-block',
    itemSelector: 'div.masonry-block'
  });
</script>
